<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="landing.css">
    <style>
      *{
    margin:0;
    font-family: arial;
    border: border-box;
    color: white;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.b1:hover{
    text-decoration: underline;
    height: 20px;
}
.logo img{
    height: 60px;
}


.hero{
    display: flex;
    align-items: center;
}
.text{
    color: white;
    font-size: 50px;
    margin-left: 200px;   

}
.text :hover{
    cursor: pointer;
    color: red;
}
.hero{
    background-image: url(hero2.JPG);
    height: 100vh;
}

    </style>
</head>
<body>
    <div class="navbar">
      <div class="home b1">
        <p>HOME</p>
      </div>
      <div class="About b1">
        <p>ABOUT US</p>
      </div>
      <div class="gallery b1">
        <p>GALLERY</p>
      </div>
      <div class="logo">
        <img src="mainlogo.jpg">
      </div>
      <div class="services b1">
        <p>SERVICES</p>
      </div>
      <div class="events b1">
        <p>EVENTS</p>
      </div>
      <div class="contact b1">
        <p>CONTACT US</p>
      </div>
    </div>
    <div class="hero">
       <div class="text">
        <p>EVENTS AND MORE GET EXPLORE>></p>
       </div>
    </div>
    
</body>
</html>