*{
    margin:0;
    font-family: arial;
    border: border-box;
    color: white;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.b1:hover{
    text-decoration: underline;
    height: 20px;
}
.logo img{
    height: 60px;
}


.hero{
    display: flex;
    align-items: center;
}
.text{
    color: white;
    font-size: 50px;
    margin-left: 200px;   

}
.text :hover{
    cursor: pointer;
    color: red;
}
.hero{
    background-image: url(hero2.JPG);
    height: 100vh;
}
